<%- include('./partials/header.ejs')%>
  <div>
      <div class="container">
        <h1 class="m-4 text-center">A little about us...</h1>
            <p class="text-center">
                We are just a couple of Heat fans and we wanted a way to connect with other Heat fans in our area. So we created this site with all of its usefull tools to 
                have a good time with like-minded indivduals, especially when we are all going through heatbreak with the Heat's '22-'23 season (season of the dangerous loomers)
            </p>
            <p class="text-center">
            Check out the <a class='text-decoration-none' href='/event/events'>events</a> page to get started.
            </p>

        </div>

    </div> 
<%- include('./partials/footer.ejs')%>