<%- include('./partials/header.ejs')%>
  <div>
      <div class="container">
        <div class = "row justify-content-center">
            <div class="col-6">
        <h1 class="m-4 text-center">Contact us</h1>
        <p>Have a question? Get into contact with us via our socials (monitored every game day) or fill out the form below</p>
        <form>
            <div class="form mb-2">
                <label class="form-label">Question</label>
                <textarea class="form-control"></textarea>
            </div>
            <div class="form mb-2">
                <label  class="form-label" >Email</label>
                <input type="email" class="form-control mb-1" placeholder="norm@uncc.edu">
            </div>

            <div class="text-center">
                <button class="w-50 btn btn-lg btn-primary mt-2" type="submit">Submit</button>
            </div>  
        </form>
        </div>
        </div>
        </div>

    </div> 
<%- include('./partials/footer.ejs')%>