<%- include('./partials/header.ejs')%>
  <div>
      <div class="container">
        <h1 class="m-4 text-center">Ready to ball?</h1>
            <p class="text-center">
                Made for Heat fans by Heat fans. Meet new people with similar interests while having fun! We make it easy to find events like pick-up basketball, watch parties, game sessions, and more with like minded indivduals. 
                We hope to see you out there!
            </p>
            <p class="text-center">
            Check out the <a class='text-decoration-none' href='/event/events'>events</a> page to get started.
            </p>

        </div>

    </div> 
<%- include('./partials/footer.ejs')%>